@model WebAPI.Models.Event

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EventText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventText)
                @Html.ValidationMessageFor(model => model.EventText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventTitle)
                @Html.ValidationMessageFor(model => model.EventTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDescription)
                @Html.ValidationMessageFor(model => model.EventDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventStartUTC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventStartUTC)
                @Html.ValidationMessageFor(model => model.EventStartUTC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventEndtUTC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventEndtUTC)
                @Html.ValidationMessageFor(model => model.EventEndtUTC)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
